/node_modules
/public/hot
/public/storage
/public/oer_upload/resource_file
/public/oer_upload/resource_image
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
